.square{
    width:76px; height:76px; 
    background:#fff;
	background:-moz-linear-gradient(top, #fff, #eee);
	background:-webkit-gradient(linear,0 0, 0 100%, from(#fff), to(#eee));
	box-shadow:inset 0 0 0 1px #fff;
	-moz-box-shadow:inset 0 0 0 1px #fff;
	-webkit-box-shadow:inset 0 0 0 1px #fff;
	text-align:center;
	vertical-align:middle;

}

table{
border:5px solid #333;
}

span{
font-size:350%;
text-align: center;
width:100%; 
height:100%;
    color:#000;
	display:block;
	position:relative;
	text-decoration:none;
	text-shadow:0 1px #fff;
}

.selected {
    text-shadow: 2px 1px yellow;
}

.black{
    background:lightgreen;
	background:-moz-linear-gradient(top, lightgreen, black);
	background:-webkit-gradient(linear,0 0, 0 250%, from(lightgreen), to(black));
	box-shadow:inset 0 0 10px rgba(0,0,0,.4);
	-moz-box-shadow:inset 0 0 10px rgba(0,0,0,.4);
	-webkit-box-shadow:inset 0 0 10px rgba(0,0,0,.4);
}

.white{
    
}

.highlight{

border-radius: 5px;
 outline: none;
border-color: yellow;
    box-shadow: 0 0 20px yellow;
}

td:hover { 
    outline: 1px outset yellow;
	box-shadow: 2px 2px 2px black;
	position: relative;
    border-radius: 4px;
}

table{
outline: 1px outset black;
box-shadow: 5px 5px 5px;
position: relative;
}